/* ACDOC - {version} */
:root {
    --fg-color: unset;
    --bg-color-1: #eee;
    --bg-color-2: #fafafa;
    --article-bg-color: #fff;
    --border-color: #bbb;
    --link-color: #00f;
    --link-color-disabled: #999;
    --success-fg: #3c763d;
    --success-bg: #f3f6f3;
    --info-fg: #337ab7;
    --info-bg: #f2f6fa;
    --warning-fg: #f28500;
    --warning-bg: #fef8f1;
    --danger-fg: #d9534f;
    --danger-bg: #fef5f4;
}
@media (prefers-color-scheme: dark) {
    :root {
        --fg-color: #fff;
        --bg-color-1: #000;
        --bg-color-2: #000;
        --article-bg-color: #000;
    }
}

html,
body {
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

body > .acdoc > .page {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.85em;
    color: var(--fg-color);

    * {
        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-track {
            background: var(--bg-color-1);
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--border-color);
            border-radius: 6px;
            border: 2px solid var(--bg-color-1);
        }
    }

    .hide {
        display: none !important;
    }

    a {
        color: var(--link-color);
    }

    .header {
        border: 1px solid var(--border-color);
        padding: 0.5em 2em;
        display: flex;
        align-items: center;
        background-color: var(--bg-color-1);
        a {
            text-decoration: none;
            color: unset;
        }
        .header-title {
            font-size: 1.5em;
            font-weight: bold;
        }
        .toggle-aside-left {
            margin-left: 1em;
            cursor: pointer;
            &:hover {
                color: var(--link-color-disabled);
            }
        }
    }

    .content {
        flex: 1;
        display: flex;
        height: 0;

        aside {
            border: 1px solid var(--border-color);
            padding: 1em;
            overflow: auto;
            width: 300px;
            background-color: var(--bg-color-2);
            .catalogue {
                .catalogue-homepage {
                    font-weight: bold;
                    font-size: 1.2em;
                    scroll-margin-top: 1em;
                }
                ol {
                    padding-left: 0;
                    margin: 0;
                    list-style-type: none;
                }
                li {
                    padding-left: 12px;
                    scroll-margin-top: 3.2em;
                    position: relative;
                    border-left: 1px solid var(--border-color);
                }
                .catalogue-root > li {
                    margin-left: 8px;
                }
                li {
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: calc(-2px + 1px);
                        width: 10px;
                        height: 9px;
                        border-bottom: 1px solid var(--border-color);
                    }
                    &:last-child {
                        border-color: transparent;
                    }
                    &:last-child::before {
                        border-left: 1px solid var(--border-color);
                        width: calc(10px - 1px);
                    }
                }
                a {
                    color: unset;
                    text-decoration: none;
                    &:hover {
                        color: var(--link-color);
                    }
                    &.nolink:hover {
                        color: var(--link-color-disabled);
                        cursor: default;
                    }
                    &.draft {
                        color: var(--link-color-disabled);
                    }
                }
                .active > a {
                    color: var(--link-color);
                }
            }
        }

        section {
            flex: 1;
            background-color: var(--article-bg-color);
            border: 1px solid var(--border-color);
            overflow-y: auto;
            .message {
                margin: 0.5em 1em;
            }
            .article {
                padding: 1em;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .article-toc {
                    // TODO (WIP) better toc style
                    display: none;
                    clear: both;
                    float: right;
                    border: 1px solid var(--border-color);
                    background-color: var(--bg-color-2);
                    padding: 0.25em;
                    margin: 0.5em 0.25em;
                    max-width: 140px;
                    font-size: 0.9em;
                    .toc-item {
                        display: block;
                    }
                }
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    scroll-margin-top: 1em;
                }
                table {
                    background-color: var(--bg-color-2);
                    color: #202122;
                    margin: 1em 0;
                    border: 1px solid var(--border-color);
                    border-collapse: collapse;
                    th {
                        font-weight: bold;
                    }
                    th,
                    td {
                        border: 1px solid var(--border-color);
                        padding: 0.2em 0.4em;
                    }
                }
                pre {
                    border: 1px solid var(--border-color);
                    background-color: var(--bg-color-2);
                    padding: 1em;
                }
                blockquote {
                    margin: 1em 0;
                    padding: 0 1em;
                    border: 1px solid var(--border-color);
                    border-left-width: 8px;
                    background-color: var(--bg-color-2);
                    &:has(> .success) {
                        color: var(--success-fg);
                        border-color: var(--success-fg);
                        background-color: var(--success-bg);
                    }
                    &:has(> .info) {
                        color: var(--info-fg);
                        border-color: var(--info-fg);
                        background-color: var(--info-bg);
                    }
                    &:has(> .warning) {
                        color: var(--warning-fg);
                        border-color: var(--warning-fg);
                        background-color: var(--warning-bg);
                    }
                    &:has(> .danger) {
                        color: var(--danger-fg);
                        border-color: var(--danger-fg);
                        background-color: var(--danger-bg);
                    }
                }
            }
            .article-info {
                border-top: 1px solid var(--border-color);
                padding-top: 1em;
                margin-top: 1em;
                font-size: small;
            }
        }
    }

    .footer {
        display: flex;
        border: 1px solid var(--border-color);
        padding: 0.5em 2em;
        font-size: small;
        background-color: var(--bg-color-1);
        justify-content: space-between;
        a {
            text-decoration: none;
        }
        .manifest-version {
            color: var(--link-color-disabled);
        }
    }
}
